/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', arial, sans-serif;
  outline: none !important;
}
body {
  font-size: 12px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #404040;
}
ul {
  list-style: none;
}
:link,
:visited,
ins {
  color: inherit;
  text-decoration: none;
}
nav ul,
nav ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
kbd {
  font-size: 1em;
}
dl,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
form,
fieldset,
input,
label {
  line-height: inherit;
}
abbr,
img,
object,
a img,
:link img,
:visited img,
a object,
:link object,
:visited object {
  border: 0;
}
address,
abbr {
  font-style: normal;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
label,
input,
button,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: normal;
}
.clr {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
small {
  font-size: 0.8em;
}
.light {
  font-weight: 300;
}
.dots {
  background: transparent url("../images/dots.gif");
}
hr {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  height: 1px;
  background: #e9e9e9;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  font-weight: 300;
  border: solid 1px #bebebe;
  padding: 3px;
  font-size: 1.5em;
}
button {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  padding: 7px 7px 6px 7px ;
  background: none;
  background-color: #404040;
  border: 0;
  border: solid 1px black;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #5a5a5a;
  border: solid 1px #1a1a1a;
}
a,
button {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
#content {
  width: 260px;
  background: white;
}
.title {
  font-size: 1.3em;
  float: left;
  padding: 5px 5px 5px 10px;
}
#user {
  font-size: 0.8em;
  float: right;
  padding: 5px 10px;
}
#categories-list {
  list-style: none;
}
.category {
  border-top: 1px solid #e9e9e9;
}
.category a {
  display: block;
  padding: 3px 3px 3px 10px;
  background: url("../images/arrow.png") no-repeat right;
  background-position: 97% center;
}
.category a:hover {
  color: white;
  background: url("../images/arrow-white.png") no-repeat #4281f4;
  background-position: 90% center;
}
#name #category-name {
  padding: 3px 3px 3px 10px;
}
#name #input-name {
  float: left;
  margin-left: 10px;
}
#name hr {
  margin: 5px 0 5px 0;
}
#name .previous {
  display: block;
  padding: 3px 3px 3px 10px;
}
#name .previous:hover {
  color: white;
  background: #4281f4;
}
