@import "elements.less";
@import "vars.less";
@import "reset.less";

#content{
    width:260px;
}

#user{
    font-size:0.9em;
    text-align:right;
}

#categories-list{
    list-style:none;
}

#input-name{
    float:left;
}
